{% extends 'base.html' %}
{% load staticfiles %}
{#{% load comments %}#}

{% block singlepost %}
    {% if post.post_img %}
        <div style="background-image: url({{ post.post_img.url }})" class="main-img-in-post bg-img-cover" alt=""></div>
    {% endif %}
    <div class="container">
        <div class="header-post">
            <h1 class="name-post-in-post">{{ post.title }}</h1>
            <ul class="nav nav-pills tag-in-post" role="tablist" style="z-index: 1">
                {% for tag in tags %}
                    <li role="presentation"><a href="{% url 'output_tags' tag.name %}">#{{ tag }} <span class="badge">{{ tag.numb }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container single-post">
        <div class="row">
            <div class="col-md-9">
                <p>{{ post.text }}</p>
                <hr>
                <h2 class="tops" id="comment">Коментарі</h2>
                {% if comments %}
                    <table>
                        {% for comment in comments %}
                            <tr class="comment-tr">
                                <td><div style="background-image: url({{ comment.author.avatar.url }});" class="comment-box-avatar bg-img-cover img-circle"></div></td>
                                <td style="padding: 10px 20px; width: 100%">
                                    <h4>{{ comment.author }}&nbsp;&nbsp;&nbsp;<span style="color: #aaa">[{{ comment.pub_date }}]</span></h4>
                                    <p>{{ comment.content }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <h3>Коментарі відсутні</h3>
                {% endif %}
                {% if auth %}
                    <form action="{% url 'add_comment' post.id %}" method="post" class="">
                        {% csrf_token %}
                        <hr>
                        <textarea name="comment" cols="100" rows="3" class="comment-area" placeholder="Ваш коментар.."></textarea>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Прокоментувати</button>
                    </form>
                {% endif %}
            </div>
            <div class="col-md-3">
                <div class="thumbnail author-box-class" id="author-box">
                    <a href="/user/id{{ post.author.user.id }}">
                        <div style="background-image: url({{ post.author.avatar.url }});" class="author-box-avatar bg-img-cover img-circle"></div>
                        <h4 class="author-box-nickname ">{{ post.author }}</h4>
                    </a>
                    <h5 class="author-box-thanks">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span id="author-like">{{ post.author.like }}</span>
                    </h5>
                    <div class="author-box-info">
                        <table class="author-box-info-table">
                            <tr class="info-box" align="center">
                                <td>
                                    {% if auth %}
                                        {% if not push_like and not you_post%}
        {#                                        <span id="like_this" class="glyphicon glyphicon-thumbs-up c222"></span>#}
                                            <i id="like_this" class="fa fa-thumbs-o-up c222 cursorPointer" aria-hidden="true"></i>
                                            <div id="like">{{ post.like }}</div>
                                        {% elif push_like %}
        {#                                        <span class="glyphicon glyphicon-thumbs-up c777"></span>#}
                                            <i class="fa fa-thumbs-up cOrange" aria-hidden="true"></i>
                                            <div>{{ post.like }}</div>
                                        {% else %}
                                            <i class="fa fa-thumbs-up c777" aria-hidden="true"></i>
                                            <div>{{ post.like }}</div>
                                        {% endif %}
                                    {% else %}
                                        <i class="fa fa-thumbs-o-up c777" aria-hidden="true"></i>
                                        <div>{{ post.like }}</div>
                                    {% endif %}
                                </td>
                                <td><span class="glyphicon glyphicon-eye-open c777"></span>
                                    <br>{{ post.views }}
                                </td>
                                <td><span class="glyphicon glyphicon-comment c777"></span><br>{# comments #}</td>
                            </tr>
                        </table>

                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>

{% endblock %}
