{% extends 'base_login.html' %}

{% block login %}
    <div class="container">

        <form action="{% url 'login' %}" method="post" class="form-signin">
            {% csrf_token %}
            <h2 class="form-signin-heading">Facecontrol:)</h2>
            <label for="inputText" class="sr-only">Нікнейм</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Нікнейм" required="" autofocus="" style="height: 46px;border-radius: 5px 5px 0 0;">
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required="" style="height: 46px;border-radius: 0;">

            <button class="btn btn-lg btn-primary btn-block" type="submit" style="border-radius: 0 0 5px 5px;">Увійти</button>
            {% if login_error %}
                <br><div class="alert alert-warning" role="alert">{{ login_error }}</div>
            {% endif %}
        </form>

    </div>
{% endblock %}