{% load staticfiles %}
<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<title>{{ namepage }}</title>
	<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/media.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">

</head>
<body>
    <header>
		<nav class="navbar navbar-fixed-top navbar-fs">
            <div class="container">
{#                <div class="row">#}
                    <a href="{% url 'output_publish' %}">
                        <img src="{% static 'blog/img/logo.png' %}" alt="" class="logo">
                        <b style="font-size: 25px; margin-left: -12px;">β</b>
                    </a>
                    {% if not auth %}
                        <a href="/auth/register/" class="btn-login">Реєстрація</a>
                        <a href="/auth/login/" class="btn-login">Вхід</a>
                    {% else %}
                        <a href="/auth/logout/" class="btn-login">Вихід</a>
                        <a href="{% url 'create_playlist' %}" class="btn-login">Створити плейлист</a>
                        <a href="{% url 'write_post' %}" class="btn-login">Створити запис</a>
                        <a href="{% url 'profile_user' user.id %}" class="btn-login">{{ user }}</a>
                    {% endif %}
{#                </div>#}
            </div>
		</nav>
    </header>


    {% block login %}
        {# login page #}
    {% endblock %}

    {% block register %}
        {# login page #}
    {% endblock %}

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'blog/js/bootstrap.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'blog/js/bootstrap.min.js'%}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'blog/js/common.js' %}"></script>

</body>
</html>